@model Zoo19._07.Models.Main

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Main</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idindivid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idindivid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idzoo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idzoo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Anchor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
